* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}
body{
    background: url("img/coding-bg.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Nunito', sans-serif;
}
td {
	padding: 20px 5px 0px 5px;
}
h3 {
	margin-top: 0px;
	color: white;
}
a:link {
	color: white;
	text-decoration: underline;
}
a:visited {
	color: red;
}
a:hover {
	color: rgb(184, 110, 83);
}
a:active {
	background: blue;
}

.navbar {
	font-size: 14px;
	background-color: white;
	border: 0px;
	box-shadow:0px 0px 10px rgb(185, 185, 185);
}
.navbar-inverse .navbar-nav li.active a{ 
    background: rgb(184, 110, 83); 
}
.navbar-inverse .navbar-nav .myNavbar-link {
	color: black;
	text-decoration: none;
} 
.navbar-inverse .navbar-nav .myNavbar-link:active {
	background: rgb(184, 110, 83);
}
.navbar-inverse .navbar-nav .myNavbar-link:visited {
	background: rgb(184, 110, 83);
}
.navbar-inverse .navbar-nav li .myNavbar-link:hover{
	background: rgb(224, 206, 191);
	color: white;
}
.hover {
	height: 25px;
}
.main-logo {
	width: 100px;
	padding-top: 200px;
}
.name {
	width: 350px;
	padding-top: 50px;
}
.title {
	font-size: 20px;
	font-weight: 800;
	padding-bottom: 100px;
}
.white {
	background: white;
	width: 100%;
	padding: 100px 100px 100px 20%;
	text-align: right;
	box-shadow:0px 0px 10px rgb(185, 185, 185);
}
.about-text {
	font-size: 16px;
}
.skills {
	background: white;
	width: 100%;
	padding: 100px 100px;
	text-align: right;
	box-shadow:0px 0px 10px rgb(185, 185, 185);
}
.photo-img {
	width: 120px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
	border: 3px solid rgb(224, 206, 191);
	margin-right: 10px;
	vertical-align: bottom;
}
.section-title{
	height: 41px;
}
.right-text{
	padding-top: 25px;
}
.transparent {
	width: 100%;
	padding: 150px 100px 150px 100px;
	text-align: left;
}
h4, .project-category {
	color: rgb(184, 110, 83);
	font-weight: 700;
}
ul {
	list-style-type: none;
}
.form-title, .form-content, .form-submit {
	border: 1px solid rgb(184, 110, 83);
}
::placeholder {
	color: rgb(224, 206, 191);
}
.form-title {
	width: 300px;
	margin-bottom: 10px;
	margin-top: 3px;
	padding-left: 5px;
}
.form-content {
	width: 420px;
	height: 100px;
	margin-bottom: 5px;
	padding-left: 5px;
}
.form-submit {
	width: 100px;
	background-color: rgb(184, 110, 83);
	color: white;
}
.slide-width {
	width: 480px;
	padding-bottom: 20px;
}
.left.carousel-control, .right.carousel-control {
	background-image: none;
}
.carousel {
	border: 1px solid transparent;
}

.carousel-caption {
	top: 0;
	bottom: auto;
	right: 5%;
	left: auto;
	text-align: right;
	font-size: 18px;
}
.caption {
	background: rgb(184, 110, 83);
	padding: 0px 5px;
}
.fixed-column {
	width: 500px;
}
.transparent-box {
	margin-left: 10px;
}
.description-text {
	font-size: 16px;
}
.pull-right {
	font-size: 16px;
	display: inline-block;
}



/* SLIDE OUT INFO */

.rma-details, .lu-details, .tw-details {
	position: absolute;
	background-color: rgb(224, 206, 191);
	z-index: 16;
	width: 480px;
	padding: 20px 20px 10px 20px;
}

.tipIcon, .tipTitle {
	display: inline-block;
}

/* The holder for the title and the icon: */
.tipVisible{ 
	cursor:pointer; 
	height:22px;
	width: 480px;
}

.tipTitle{
	float:left;
	color: rgb(184, 110, 83);
	font-size:25px;
	font-weight:bold;
	white-space:nowrap;
	line-height:22px;
}

.main {
	margin-top: 0px;
}

.tipIcon{
	width:21px;
	height:21px;
	float:left;
	background-color:rgb(184, 110, 83);
	margin-right:8px;
	
	/* CSS3 Rounded corners */
	
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
}

.plusIcon{
	width:13px;
	height:13px;
	background:url('img/plus.gif') no-repeat center center;
	margin:4px;
	
	/* Defining a CSS3 animation. Currently only works in Chrome and Safari */
	-webkit-transition: -webkit-transform 0.2s linear;
	-moz-transition: -moz-transform 0.2s linear;
	transition: transform 0.2s linear;
}

.slideOutTip.isOpened{ z-index:10000; }

.slideOutTip.isOpened .plusIcon{
	/* Applying a CSS3 rotation  to the opened slideouts*/
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}

/* Hiding the original paragraphs if they have not been replaced (JS disabled): */

.main > p{ display:none; }

@media (max-width:767px) { 
	.custom-navbar .navbar-right {
		float: right;
	}
	.custom-navbar .navbar-toggle {
		float: left;
		background-color: rgb(184, 110, 83);
		border: 0px;
	}
	.custom-navbar .navbar-collapse {
	    clear: both;
		float: none;
	}
	.navbar-brand {
		padding-left: 0px;
	}
	.custom-navbar .navbar-toggle .icon-bar {
		background-color: rgb(224, 206, 191);
	}
	.white, .skills {
		padding: 5%;
	}
	.transparent {
		padding: 7%;
	}
	.project-box, .fixed-column {
		width: 100%;
	}
}
@media (max-width:550px) { 
	.carousel, .tipVisible {
		width: 100%;
	}
	.form-title {
		width: 55%;
	}
	.form-content {
		width: 80%;
	}
	.transparent {
		padding: 5%;
	}
	.rma-details, .lu-details, .tw-details {
		width: 100%;
	}
}