* {
	padding: 0px;
	margin: 0px;
	;
}
body{
    background-image: url("img/coding-bg.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Nunito', sans-serif;
}
h3 {
	margin-top: 0px;
	color: white;
}
:any-link:hover {
	color: rgb(184, 110, 83);
}
:any-link {
	color: white;
	text-decoration-line: underline;
}
.navbar {
	font-size: 14px;
	background-color: white;
	border: 0px;
	/* border-color: white; */
	box-shadow:0px 0px 10px rgb(185, 185, 185);
}
.navbar-inverse .navbar-nav li .myNavbar-link:hover{
	background: rgb(224, 206, 191);
	color: white;
}
.navbar-inverse .navbar-nav .myNavbar-link {
	color: black;
	text-decoration-line: none;
} 
.navbar-inverse .navbar-nav .myNavbar-link:visited {
	background-color: rgb(184, 110, 83);
}
.hover {
	height: 25px;
}
.main-logo {
	width: 100px;
	padding-top: 200px;
}
.name {
	width: 350px;
	padding-top: 50px;
}
.title {
	font-size: 20px;
	font-weight: 800;
	padding-bottom: 100px;
}
.white {
	background: white;
	width: 100%;
	padding: 100px 100px 100px 20%;
	text-align: right;
	box-shadow:0px 0px 10px rgb(185, 185, 185);
}
.skills {
	background: white;
	width: 100%;
	padding: 100px 100px;
	text-align: right;
	box-shadow:0px 0px 10px rgb(185, 185, 185);
}
.photo-img {
	width: 120px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
	border: 3px solid rgb(224, 206, 191);
	margin-right: 10px;
	vertical-align: bottom;
}
.section-title{
	height: 41px;
}
.right-text{
	padding-top: 25px;
}
.transparent {
	width: 100%;
	padding: 150px 100px 150px 100px;
	text-align: left;
}
h4, .project-category {
	color: rgb(184, 110, 83);
	font-weight: 700;
}
ul {
	list-style-type: none;
}
.form-title, .form-content, .form-submit {
	border: 1px solid rgb(184, 110, 83);
}
::placeholder {
	color: rgb(224, 206, 191);
}
.form-title {
	width: 250px;
	margin-bottom: 10px;
	margin-top: 3px;
	padding-left: 5px;
}
.form-content {
	width: 375px;
	height: 100px;
	margin-bottom: 5px;
	padding-left: 5px;
}
.form-submit {
	width: 100px;
	background-color: rgb(184, 110, 83);
	color: white;
}
.slide {
	width: 480px;
	padding-bottom: 20px;
}
.left.carousel-control, .right.carousel-control {
	background-image: none;
}
.carousel-caption {
	top: 0;
	bottom: auto;
	right: 5%;
	left: auto;
	text-align: right;
	font-size: 18px;
}
.fixed-column {
	width: 500px;
}
.transparent-box {
	background: rgb(224, 206, 191);
	margin-left: 10px;
}
.description-text {
	font-size: 16px;
}

@media (max-width:767px) { 
	.custom-navbar .navbar-right {
		float: right;
	}
	.custom-navbar .navbar-toggle {
		float: left;
		background-color: rgb(184, 110, 83);
		border: 0px;
	}
	.custom-navbar .navbar-collapse {
	    clear: both;
		float: none;
	}
	.navbar-brand {
		padding-left: 0px;
	}
	.custom-navbar .navbar-toggle .icon-bar {
		background-color: rgb(224, 206, 191);
	}
	.project-box{
		width: 100%;
	}
	.carousel {
		width: 100%;
	}
	.fixed-column {
		width: 100%;
	}
	.form-title {
		width: 44%;
	}
	.form-content {
		width: 66%;
	}
}