* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}
html, body {
	height: 100%;
}
body{
    background: url("img/coding-bg.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Nunito', sans-serif;
	background-color: rgb(224, 206, 191);
}
td {
	padding: 20px 5px 0px 5px;
}
h3,
a:link,
.navbar-inverse .navbar-nav li .myNavbar-link:hover,
.button-link {
	color: white;
}
h3 {
	margin-top: 0px;
}
a:link {
	text-decoration: none !important;
}
.icon-contact-link:link {
	position: relative;
	bottom: 10px;
	padding-right: 5px;
}
a:visited,
a:hover,
h4, 
.project-category,
.tipTitle,
.copyright,
.contact-title  {
	color: rgb(184, 110, 83);
}
.icon-contact-link:link, a:active,
.navbar-inverse .navbar-nav .myNavbar-link, 
.navbar-inverse .navbar-nav .myNavbar-link:focus {
	text-decoration: none;
}

.navbar {
	font-size: 14px;
	background-color: white;
	border: 0px;
	box-shadow:0px 0px 10px rgb(185, 185, 185);
}
.navbar-inverse .navbar-nav li.active a, 
.navbar-inverse .navbar-nav .myNavbar-link:active, 
.navbar-inverse .navbar-nav .myNavbar-link:visited{ 
    background: rgb(184, 110, 83) !important; 
}
.navbar-inverse .navbar-nav .myNavbar-link, 
.navbar-inverse .navbar-nav .myNavbar-link:focus {
	color: black;
} 
.navbar-inverse .navbar-nav li .myNavbar-link:hover{
	background: rgb(224, 206, 191);
}
.hover {
	height: 25px;
}
.hero-div {
	height: 100%;
	position: relative;
	top: 40%;
}
.main-logo {
	width: 100px;
	animation-duration: 3s;
}
.name {
	width: 350px;
	padding-top: 50px;
}
.title {
	font-size: 20px;
	font-weight: 800;
}
.white,
.skills,
.transparent,
.copyright {
	width: 100%;
}
.white {
	background: white;
	padding: 100px 100px 100px 20%;
	text-align: right;
	box-shadow:0px 0px 10px rgb(185, 185, 185);
}
.about-text {
	font-size: 16px;
}
.skills {
	background: white;
	padding: 100px 100px;
	text-align: right;
	box-shadow:0px 0px 10px rgb(185, 185, 185);
}
.photo-img {
	width: 120px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
	border: 3px solid rgb(224, 206, 191);
	margin-right: 10px;
	vertical-align: bottom;
}
.section-title{
	height: 41px;
	margin-bottom: 15px;
}
.right-text{
	padding-top: 25px;
}
.transparent {
	padding: 150px 100px 150px 100px;
	text-align: left;
}
h4, .project-category {
	font-weight: 700;
}
ul {
	list-style-type: none;
}
.form-title, .form-content, .button-link {
	border: 1px solid rgb(184, 110, 83);
}
::placeholder {
	color: rgb(224, 206, 191);
}
.form-title {
	width: 300px;
	margin-bottom: 10px;
	margin-top: 3px;
	padding-left: 5px;
}
.form-content {
	width: 420px;
	height: 100px;
	margin-bottom: 5px;
	padding-left: 5px;
}
.button-link {
	width: 100px;
	background-color: rgb(184, 110, 83);
	text-align: center;
}
.slide-width {
	padding-bottom: 20px;
}
.left.carousel-control, .right.carousel-control {
	background-image: none;
}
.carousel {
	border: 1px solid transparent;
}

.carousel-caption {
	top: 0;
	bottom: auto;
	right: 5%;
	left: auto;
	text-align: right;
	font-size: 18px;
}
.caption {
	background: rgb(184, 110, 83);
	padding: 0px 5px;
}
.fixed-column {
	width: 500px;
}
.transparent-box {
	margin-left: 10px;
}
.description-text {
	font-size: 16px;
}
.align-left {
	font-size: 16px;
	display: block;
	text-align: left;
	margin-bottom: 5px;
}

.project-gif, 
.rma-details, 
.lu-details, 
.tw-details, 
.tipVisible, 
.slide-width {
	width: 500px;
}
.wall-height {
	height: 50px;
}

.row-projects {
	margin-bottom: 70px;
}

/* SLIDE OUT INFO */

.rma-details, 
.lu-details, 
.tw-details {
	padding: 30px 20px 10px 20px;
	height: 325px;
}

.tipIcon, .tipTitle {
	display: inline-block;
}

/* The holder for the title and the icon: */
.tipVisible{ 
	cursor:pointer; 
	height:22px;
}

.tipTitle{
	float:left;
	font-size:25px;
	font-weight: bold;
	white-space:nowrap;
	line-height:22px;
}

.copyright {
	background: white;
	padding: 20px;
	text-align: center;
	font-weight: bold;
}

.contact-note {
	padding-top: 10px;
	padding-bottom: 50px;
}

.right-space {
	margin-right: 8px;
}

@media (max-width:1170px) { 
	.rma-details, .lu-details, .tw-details {
		height: auto;
		padding: 0px;
	}
}

@media (max-width:767px) { 
	.custom-navbar .navbar-right {
		float: right;
	}
	.custom-navbar .navbar-toggle {
		float: left;
		background-color: rgb(184, 110, 83);
		border: 0px;
	}
	.custom-navbar .navbar-collapse {
	    clear: both;
		float: none;
	}
	.navbar-brand {
		padding-left: 0px;
	}
	.custom-navbar .navbar-toggle .icon-bar {
		background-color: rgb(224, 206, 191);
	}
	.white, .skills {
		padding: 5%;
	}
	.transparent {
		padding: 7%;
	}
	.project-gif, .rma-details, .lu-details, .tw-details, .tipVisible, .slide-width {
		max-width: 500px;
	}
	.rma-details, .lu-details, .tw-details {
		height: auto;
		padding: 0px;
	}
	.col-sm-6, 
	.project-gif, 
	.rma-details, 
	.lu-details, 
	.tw-details, 
	.tipVisible, 
	.slide-width {
		width: 100%;
	}
}
@media (max-width:550px) { 
	.form-title {
		width: 55%;
	}
	.form-content {
		width: 80%;
	}
	.transparent {
		padding: 5%;
	}
}

@media (max-width: 640px) {
	body {
		background-attachment:scroll;
	}
}